.themeBg {
  background: #1d2025 !important;
  color: white !important;
  box-shadow: 0px 0px 20px -11px rgba(214, 215, 216, 0.6) !important;
}

.secDiff {
  margin-bottom: 80px;
}

.afterHead {
  margin-bottom: 40px;
}

.bgSecColor {
  background-color: rgba(255, 255, 255, 0.08);
  box-shadow: 0 0 8px 0px rgba(214, 215, 216, 0.6);
}

/* @media (max-width: 500px) {
  body {
    background-color: red !important;
  }

  .afterHead {
    margin-bottom: 20px !important;
  }

  .secDiff {
    margin-bottom: 40px !important;
  }
} */

/* .count-box{
     display: flex;
     align-items: center;
}

.count-box-icon{
     margin-right: 7px;
}

.myIcon{
     font-size: 30px;
     margin-right: 7px;
}

.count-box-content span{
     font-size: 24px;
     font-weight: 700;
}

.backGroundDiv {
     background-image: url("../public/static/assets/img/about.jpg");
     background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
} */
